---
layout: not_homepage
<!-- quote: If you call failures experiments, you can put them in your resume and claim them as achievements.
author: Mason Cooley -->
---
<!-- {% include quote.html quote=page.quote author=page.author %}  -->

<div class="row resume-wrapper">
  <!-- <h1> Under Construction</h1>
  <a href="./assets/carlaCV.pdf" title="click to open in pdf viewer" target="_blank">
    <img src="./assets/images/cv.png" alt="" class="responsive-img resume-img z-depth-2 hoverable">
    <button class="fill col s8 offset-s2 m4 offset-m4">open as pdf</button>
  </a>
   -->
 
        {% for post in site.posts offset:0 limit: 1 %}
  
         <div class="blog-index-header-main" style="background: {{post.featImage }} ">
            <!-- <div class="overlay-blog"></div> -->
            <div class="blog-index-title text-white" >
              <h1 class="featured-blog-post-title">{{ post.title }}</h1><br>
              <a href="{{ 'post.url'}}" class="read-featured-blog-post">Read more</a>
            </div>
         </div>

       {% endfor %}
       <div class="container py-5 bg-faded">

          <div class="row">  

            {% for post in site.posts %}

            <div class="col s12 m4 ">

              <div class="card">
                <img class="card-img-top responsive-img" src="{{post.featImage }}" alt="Card image cap">
                <div class="blogPostContainer">

                    <a href="{{post.url}}" class="blogPostFeaturedImg" style="background-image: 
                    url('{{site.baseurl}}{{post.featImage }}');"></a>

                    <a href="{{post.url}}" class="blogTitle">{{post.title}}</a>
                    <br>

                    <a href="" class="blogCategory">{{post.categories}}</a>

                    <p class="blogExcerpt">{{post.excerpt}}...</p>

                  </div>
              </div>

            </div>
            {% endfor %}
            
        </div>
      </div>
      <!-- end -->
    </div>
  
     

