---
layout: not_homepage
---
<!-- {% include quote.html quote=page.quote author=page.author %}  -->

<div class="row resume-wrapper">

 
        {% for post in site.posts offset:0 limit: 1 %}
  
         <div class="blog-index-header-main" style="background: {{post.featImage }} ">
  
            <div class="blog-index-title text-white" >
              <h1 class="featured-blog-post-title">{{ post.title }}</h1><br>
              <a href="{{ 'post.url'}}" class="read-featured-blog-post">Read more</a>
            </div>
         </div>

       {% endfor %}
       <div class="container py-5 bg-faded">

          <div class="row">  

            {% for post in site.posts %}

            <div class="col s12 m4 ">

              <div class="card">
                <img class="card-img-top responsive-img" src="{{post.featImage }}" alt="Card image cap">
                <div class="blogPostContainer">

                    <a href="{{post.url}}" class="blogPostFeaturedImg" style="background-image: 
                    url('{{site.baseurl}}{{post.featImage }}');"></a>

                    <a href="{{post.url}}" class="blogTitle">{{post.title}}</a>
                    <br>

                    <a href="" class="blogCategory">{{post.categories}}</a>

                    <p class="blogExcerpt">{{post.excerpt}}...</p>

                  </div>
              </div>

            </div>
            {% endfor %}
            
        </div>
      </div>
      <!-- end -->
    </div>
  
     

