@import "glitch";
@import "homepage";
@import "style"; 
@import "blog-index";
@import "posts";


.about_section {
  position: relative;
  z-index: 1;

  .skills_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .skill_group {
    width: 30%;
  }
}

// Universe theme for the About page
body {
  background:
    radial-gradient(1200px 600px at 20% -10%, rgba(68, 94, 210, 0.35), transparent 60%),
    radial-gradient(900px 500px at 85% 10%, rgba(177, 86, 255, 0.25), transparent 60%),
    radial-gradient(700px 600px at 50% 120%, rgba(10, 160, 178, 0.22), transparent 55%),
    linear-gradient(180deg, #050610 0%, #070a1f 45%, #0b1230 100%);
  overflow-x: hidden;
  color: #e8f2ff;
}

body::before,
body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

body::before {
  background-image:
    radial-gradient(2px 2px at 20% 30%, rgba(255,255,255,0.9), transparent 60%),
    radial-gradient(1px 1px at 80% 20%, rgba(255,255,255,0.8), transparent 60%),
    radial-gradient(1px 1px at 40% 80%, rgba(255,255,255,0.7), transparent 60%),
    radial-gradient(2px 2px at 70% 70%, rgba(255,255,255,0.85), transparent 60%),
    radial-gradient(1px 1px at 10% 60%, rgba(255,255,255,0.6), transparent 60%),
    radial-gradient(1px 1px at 90% 90%, rgba(255,255,255,0.75), transparent 60%),
    radial-gradient(1px 1px at 55% 15%, rgba(255,255,255,0.9), transparent 60%),
    radial-gradient(2px 2px at 30% 50%, rgba(255,255,255,0.8), transparent 60%);
  opacity: 0.9;
  animation: twinkle 6s ease-in-out infinite;
}

body::after {
  background-image:
    radial-gradient(1px 1px at 15% 25%, rgba(255,255,255,0.7), transparent 60%),
    radial-gradient(1px 1px at 65% 35%, rgba(255,255,255,0.5), transparent 60%),
    radial-gradient(2px 2px at 35% 15%, rgba(255,255,255,0.8), transparent 60%),
    radial-gradient(1px 1px at 75% 55%, rgba(255,255,255,0.6), transparent 60%),
    radial-gradient(1px 1px at 45% 65%, rgba(255,255,255,0.7), transparent 60%);
  opacity: 0.6;
  animation: drift 80s linear infinite;
  transform: translate3d(0, 0, 0);
}

.my_container {
  position: relative;
  z-index: 1;
}

.about_section::before {
  content: "";
  position: absolute;
  inset: -40px -20px -60px -20px;
  background:
    radial-gradient(800px 400px at 10% 0%, rgba(82, 143, 255, 0.16), transparent 70%),
    radial-gradient(600px 300px at 90% 10%, rgba(222, 140, 255, 0.12), transparent 70%),
    radial-gradient(500px 500px at 50% 100%, rgba(60, 220, 210, 0.12), transparent 70%);
  filter: blur(6px);
  opacity: 0.9;
  z-index: -1;
}

.about_section::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  right: -40px;
  top: 20px;
  border-radius: 50%;
  background:
    conic-gradient(from 0deg,
      rgba(232, 242, 255, 0.8) 0deg 4deg,
      transparent 4deg 20deg,
      rgba(120, 180, 255, 0.7) 20deg 24deg,
      transparent 24deg 40deg,
      rgba(255, 220, 120, 0.7) 40deg 44deg,
      transparent 44deg 60deg,
      rgba(232, 242, 255, 0.8) 60deg 64deg,
      transparent 64deg 80deg,
      rgba(120, 180, 255, 0.7) 80deg 84deg,
      transparent 84deg 100deg,
      rgba(255, 220, 120, 0.7) 100deg 104deg,
      transparent 104deg 120deg,
      rgba(232, 242, 255, 0.8) 120deg 124deg,
      transparent 124deg 140deg,
      rgba(120, 180, 255, 0.7) 140deg 144deg,
      transparent 144deg 160deg,
      rgba(255, 220, 120, 0.7) 160deg 164deg,
      transparent 164deg 180deg,
      rgba(232, 242, 255, 0.8) 180deg 184deg,
      transparent 184deg 200deg,
      rgba(120, 180, 255, 0.7) 200deg 204deg,
      transparent 204deg 220deg,
      rgba(255, 220, 120, 0.7) 220deg 224deg,
      transparent 224deg 240deg,
      rgba(232, 242, 255, 0.8) 240deg 244deg,
      transparent 244deg 260deg,
      rgba(120, 180, 255, 0.7) 260deg 264deg,
      transparent 264deg 280deg,
      rgba(255, 220, 120, 0.7) 280deg 284deg,
      transparent 284deg 300deg,
      rgba(232, 242, 255, 0.8) 300deg 304deg,
      transparent 304deg 320deg,
      rgba(120, 180, 255, 0.7) 320deg 324deg,
      transparent 324deg 340deg,
      rgba(255, 220, 120, 0.7) 340deg 344deg,
      transparent 344deg 360deg);
  border: 1px solid rgba(232, 242, 255, 0.5);
  box-shadow:
    0 0 30px rgba(120, 180, 255, 0.3),
    0 0 80px rgba(120, 180, 255, 0.2);
  opacity: 0.85;
  mix-blend-mode: screen;
  animation: compass-glow 5s ease-in-out infinite;
  pointer-events: none;
}

.about_section .heading {
  text-shadow: 0 0 12px rgba(120, 180, 255, 0.5);
}

.about_paragraph {
  color: #e8f2ff;
  opacity: 0.9;
  text-shadow: 0 0 16px rgba(60, 140, 255, 0.25);
}

.quote {
  color: #ffe9a8;
  text-shadow: 0 0 18px rgba(255, 220, 120, 0.4);
}

.author {
  color: #ffe9a8;
}

.about_me_links {
  color: #9ed6ff;
}

.about_me_links:hover {
  color: #d3f1ff;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.75; }
  50% { opacity: 1; }
}

@keyframes drift {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-2%, -2%, 0); }
}

@keyframes compass-glow {
  0%, 100% { opacity: 0.75; transform: scale(1); }
  50% { opacity: 0.95; transform: scale(1.02); }
}

.my_footer {
  background-color: $dark-grey;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;

}

.resume-wrapper {
  button {
    margin-top: 50px;
    text-align: center;
  }
}
div.row.resume-wrapper {
 text-align: center!important; 
}
body {
  min-height: 100%;
  min-width: 300px;
}

nav {
  margin-top: 40px;
  margin-bottom: 100px;
}

nav ul li a {
  font-weight: 600;
  color: white;
}

.projects_container {
  padding: 20px 10px 0 10px;
  width: 100%;
  margin: auto;
}

nav ul li a:hover {
  transition: none !important;
  background-color: transparent;
}

nav ul li {
  transition: none !important;
  background-color: transparent !important;
}

.nav-underline {
  margin: 0 25px 0 25px;
  width: 0%;
  height: 3px;
  background-color: $text-color;
  transition: width 0.3s;
}

.nav-underlined,
.nav-hover-underlined {
  width: 30%;
}

.heading {
  color: $text-color;
  font-weight: 200px;
  font-size: 2.3rem;
  font-family: $font1;
}

.homepage-section {
  display: block;
  height: 50vh;
  min-height: 300px;
  color: $text-color;
  // font-weight: 600;
  position: relative;
}

.quote_box {
  padding: 0 5% 0 5%;
  margin-bottom: 50px;
  color: $text-color;
}

.quote {
  font-size: 2rem;
  font-weight: 300;
  text-indent: 15%;
  margin-bottom: 0;
  font-family: $font2;
  color: #efdf0d;
}
@media only screen and (max-width: 600px) {
  .quote {
    font-size: 1rem;
  }
}

.author {
  padding-right: 5%;
  margin-top: 0;
  font-size: 1.7rem;
  font-family: $font1;
  font-style: italic;
  color: #efdf0d;
}

.skills_heading {
  margin-top: 60px;
  font-size: 3rem;
}

.skill_names {
  font-size: 1.5rem;
  color: white;
  font-style: $font2;
  font-weight: 200;
  margin-left: 10px;
}

.my_container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  min-height: 85vh;
}

.carousel-arrows {
  width: 50px;
  height: 100%;
  background-color: $text-color;
  position: absolute;
  z-index: 1000;
  top: 0;
}

.carousel-arrows:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  left: 500px;
}

.projects-bottom {
  margin-top: 50px;
}

.footer_titles {
  font-family: $font1;
  font-size: 35px;
}

.footer_icons {
  font-size: 30px !important;
}

.footer_description_link {
  color: $text_color;
  font-weight: 300;
  font-style: italic;
  transition: color 0.5s linear;
}

.footer_description_link:hover {
  color: $modal_text;
}

.footer_link_text {
  font-family: $font2;
  font-weight: 300;
  font-size: 20px;
}

.about_me_links {
  color: $text-color;
  font-weight: 200;
  font-style: italic;
}

.about_me_links:hover {
  font-weight: 300;
}

#email_modal * {
  background-color: $dark-grey;
  color: $text-color;
}
 label{
 color: $text-color!important;
}
i.material-icons.prefix {
  color: $text-color!important;
}

.project_list {
  .modal,
  .modal-footer {
    background-color: $dark-grey;
  }
  .project_info {
    padding: 1%;
    padding-top: 20px;
  }
  .modal {
    //color: $modal_text;
  }

  .buttons {
    .button_wrapper {
      box-sizing: border-box;
      display: inline-block;
      width: 30%;
      margin: 1%;
    }
  }
  .modal-footer {
    text-align: center !important;
    height: auto;
    height: 75px;
    .row {
      margin-bottom: 0;
    }
  }

  .project_icons {
    margin-top: 20px;
    font-size: 1.3em;
    color: $subtext;
  }

  h4 {
    margin: 0px;
  }
  p {
    margin: 0 !important;
  }

  .info_type {
    font-style: italic;
    color: darkgrey;
    font-family: $font1;
    font-size: 1.5em;
    letter-spacing: +1px;
    text-transform: capitalize;
  }
  .modal {
    height: 90vh !important;
    margin-top: 5vh;
    min-height: 650px;
    max-height: 90vh;
    .modal-content {
      padding: 0 !important;
      margin: 0;
    }
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.carousel {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 550px;
}

.valign-wrapper {
  height: 100%;
}

button {
  position: relative;
  font-family: $font2;
  display: block;
  height: 45px;
  line-height: 45px;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: #f6f7f1;
  border: 1px #f6f7f1 solid !important;
  border-radius: 3px;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  &.btn-yellow{
    width: 200px;
    color: $subtext;
    border: solid $subtext 1px;
  }
}

.buttons button {
  color: $modal-text;
  border: 1px $modal-text solid !important;
}

button:focus {
  background-color: transparent;
}
.btn-cover{
  color: black;
  border: solid 2px black;
}
button.fill:hover {
  background-color: transparent;
  color: $cover-color;
}

button.fill:before {
  content: "";
  position: absolute;
  background: $dark-grey;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.buttons button.fill:hover {
  color: $dark-grey;
}

.buttons button.fill:before {
  background: $modal-text;
}

button.fill:hover:before {
  top: -5px;
}

.description {
  color: $modal-text;
  letter-spacing: +1px;
  font-family: $font2;
  font-weight: 200;
  font-size: 1.1rem;
}

.cover {
  background-color: $subtext;
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.skills {
  margin-bottom: 40px;
  color: $modal-text;
}

.project {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  // box-shadow: 0 0 1000px 10px black inset;
}

.skill_icon {
  color: $text-color;
  font-size: 1.5rem;
}

.about_skill_icon {
  color: $text-color;
  font-size: 1.5rem;
}
.box {
  height: 50vh;
}

.my-borders {
  margin: 0;
  padding: 0;
  height: 0px;
  width: 0px;
  position: absolute;
  background-color: $background-color;
}

.about-border {
  bottom: 0px;
  right: 0;
}

.algorithms-border {
  top: 0;
  right: 0;
}

.contact-border {
  top: 0;
  left: -1px;
}

.projects-border {
  bottom: 0;
  left: 0;
}

.about_img {
  margin-top: 15px;
  margin-right: 15px;
  border: 2px solid rgba(232, 242, 255, 0.6);
  box-shadow: 0 0 20px rgba(120, 180, 255, 0.35);
}

.about_paragraph {
  font-size: 1.4em;
  letter-spacing: +0.5px;
  font-weight: 200;
  color: white;
  opacity: 0.8;
  justify: center;
}

.about_paragraph:hover{
  opacity: 1;
}

/* label color */
.input-field label {
  color: $text-color!important;
}
/* label focus color */
.input-field input:focus + label {
  color: $text-color !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid $text-color !important;
  box-shadow: 0 1px 0 0 $text-color !important;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid darkgreen !important;
  box-shadow: 0 1px 0 0 darkgreen !important;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: white!important;
}
textarea:focus {
  outline: none !important;
  border-bottom: 1px solid $dark-grey !important;
  box-shadow: 0 1px 0 0 $dark-grey !important;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  font-size: 3rem;
}

@media only screen and (max-width: 993px) {
  .nav-underlined,
  .nav-underline {
    margin-left: 40px;
  }
  .nav-underlined,
  .nav-hover-underlined {
    width: 15%;
  }
}

@media only screen and (max-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    font-size: 2.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
 

  .project_list {
    .modal {
      margin-top: 2vh !important;
      min-height: 550px !important;
      height: 75vh !important;
    }
  
  }
  .info_type {
    font-weight: 400 !important;
    letter-spacing: normal !important;
    font-size: 0.9rem !important;
    font-family: $font1 !important;
  }

  .about_section {
    .skill_group {
      width: 50%;
    }
  }

  .about_section::after {
    width: 220px;
    height: 220px;
    right: -20px;
    top: 10px;
  }
}
